.title_chapterN{
	font-size: 45pt;
	color: #363636;
	/* margin-bottom: 15px; */
}
.title_chapterName{
	font-size: 40pt;
	color: #575757;
	/* margin-bottom: 10px; */
}
.title_times{
	font-size: 20pt;
	color:#b97c2c
}